// app global css in SCSS form
.description {
  font-family: inherit;
  white-space: pre-wrap;
}

.body--dark .bg-lighten {
  background: rgba(255, 255, 255, 0.07);
}
.body--light .bg-lighten {
  background: rgba(0, 0, 0, 0.07);
}

.member-accent {
  border-left-style: solid !important;
  border-left-width: 3px !important;
}

.body--dark .member-accent {
  border-left-color: #333;
}

.body--light .member-accent {
  border-left-color: #ddd;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
